### ignore folders

old_version2/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json

# Pylint
.pylint.d/

# Environments
.env
.venv
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# HDF5 files
*.hdf5
*.h5
